<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment1-KinectTouchpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Assignment2-uistGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Assignment4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ContoursTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>264B28661B06305200596871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26585B961B0F408A0077AB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26A739951AEAA4C900750AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26A739BA1AEABC8F00750AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26F892781AF7BA9E0087F469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
